<main role="main" class="container">
  <div class="starter-template">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">Angular - Spring REST Demo App</h1>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-success text-center" role="alert">
        <h5>What this App is all about?</h5>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="text-center"> A simple Angular app with REST Api as backend developed using Angular, Bootstrap & Spring Boot - REST, that renders
            perfectly in any size devices / browsers.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Spring Boot - REST</h5>
              <p class="card-text">Have been sharing my knowledge on Spring Boot - REST Api development with my fellow associates.</p>
              <p>Suddenly one day a thought came to my mind, why not share it with everyone I know in LinkedIn so decided to
                write an article on "How to develop REST Api using Spring Boot".</p>
              <a href="#" class="btn btn-success">Spring Boot LinkedIn Article</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Angular 5</h5>
              <p class="card-text">To use the REST Api I developed effectively, I was thinking to develop REST Client, then decided to create Angular.
              </p>
              <p class="card-text"> This Single Page Application (SPA) is deployed in AWS Cloud. It interacts with Spring REST Api which is also
                deployed in AWS Cloud.
              </p>
              <a href="#" class="btn btn-success">Angular LinkedIn Article</a>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-success text-center" role="alert">
        <h5>Technologies Involved</h5>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Angular 5</h5>
              <p class="card-text">Framework to build Web apps for any deployment target - Web, Mobile web, Native Mobile & Native Desktop.</p>
              <a href="https://angular.io/" target="blank" class="btn btn-info">Angular 5 Official Site</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bootstrap 4</h5>
              <p class="card-text">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
              <a href="https://getbootstrap.com/" target="blank" class="btn btn-info">Bootstrap 4 Official Site</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Spring Boot</h5>
              <p class="card-text">Takes an opinionated view of building production-ready Spring applications. Spring Boot favors convention over
                configuration and is designed to get you up and running as quickly as possible.</p>
              <a href="https://projects.spring.io/spring-boot/" target="blank" class="btn btn-info">Spring Boot Official Site</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ng-Bootstrap</h5>
              <p class="card-text">Bootstrap 4 components, powered by Angular. Set of native Angular directives based on Bootstrap's markup and
                CSS. No dependency on jQuery or Bootstrap's JavaScript is required. </p>
              <a href="https://ng-bootstrap.github.io/" target="blank" class="btn btn-info">Ng-Bootstrap - Official Site</a>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-success text-center" role="alert">
        <h5>Source Code</h5>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <a href="https://github.com/smartudhaya/AngularSpringRestDemo" target="blank" class="btn btn-info">Download/Fork</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Spring Boot - REST Api</h5>
              <a href="https://github.com/smartudhaya/RestApiUsingSpringBoot" target="blank" class="btn btn-info">Download/Fork</a>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-success text-center" role="alert">
        <h5>Connect with me</h5>
      </div>
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <p>
                <a href="https://www.linkedin.com/in/smartudhaya/" target="blank" class="btn btn-secondary">LinkedIn</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <p>
                <a href="https://www.facebook.com/AndroidProgrammerGuru/" target="blank" class="btn btn-secondary">Facebook</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <p>
                <a href="https://github.com/smartudhaya/" target="blank" class="btn btn-secondary">GitHub</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>